:root {
  --first-cover: rgba(80, 80, 80, 0.72);
  --second-cover: rgba(29, 106, 154, 0.72);
  --third-cover: rgba(29, 154, 125, 0.72);
  --forth-cover: rgba(154, 125, 29, 0.72);
  --fifth-cover: rgba(125, 29, 154, 0.72);
  --sixth-cover: rgba(29, 106, 154, 0.72);
  --secondary: #222222;
  --footer: #222222;
  --header: #222222;
  --h1-size: 10vw;
  --h2-size: 3vw;
  --h3-size: 2vw;
  --h4-size: 5vw;
  --h5-size: 2vw;
  --p-size: 1vw;
}

html{
  scroll-behavior: smooth;
}

h1{
  font-size: var(--h1-size);
  font-family: 'Bungee Hairline';
}

h2 {
  font-size: var(--h2-size);
  font-family: 'Bungee';
  margin: 0px;
}

h3 {
  font-size: var(--h3-size);
  font-weight: 700;
  font-family: 'Bungee Hairline';
}

h5 {
  font-size: var(--h5-size);
  font-weight: 900;
  font-family: 'Bungee Hairline';
}

p {
  font-size: var(--p-size);
  font-weight: 100;
  font-family: 'Courier Prime';
}

ul {
  font-size: var(--p-size);
  font-weight: 100;
  font-family: 'Courier Prime';
}

canvas {
  z-index : -9999;
  position: fixed;
  top : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;
}

#bag-tip {
  position: fixed;
  top: 1vw;
  visibility: hidden;
}

.nav-link, .nav-link:hover {
  font-family: 'Bungee Hairline';
  font-weight: 950;
  font-size: var(--h3-size);
  color: black;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: white;
  background-color:var(--header);
}

.logo {
  position: absolute;
  top: 30vh;
  left: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@keyframes updown {
  from {bottom: 4vh;}
  to {bottom: 2.5vh;}
}

.home-icon {
  height: 4vh;
  position: absolute;
  bottom: 4vh;
  left: 50%;
  animation-name: updown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#navbar{
  position: fixed;
  left: 3vw;
  top: 1vw;
  z-index: 100;
}

#sections{
  display: grid;
  grid-template-columns: 1fr;
}

#home {
  height: 100vh;
}

#about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 5vw
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.skills-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vh;
}
.skill-title {
  cursor: pointer;
}

.skill-text {
  display: none;
  cursor: pointer;
}

.skill-arrow {
  cursor: pointer;
}

#projects {
  display: grid;
  grid-template-columns: 33.33vw 33.33vw 33.34vw;
}

#contact {
  position: relative;
  background-color: var(--footer);
  color: white;
  margin: 0;
  padding: 3vw;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  margin: 1vw;
}

.contact-icon {
  height: var(--h5-size);
}

.contact-link {
  cursor: pointer;
  font-size: var(--h5-size);
  font-weight: 900;
  font-family: 'Bungee Hairline';
  color: white;
}

.contact-link:hover {
  color: cyan;
}

.tooltiptext {
  visibility: hidden;
  font-family: 'Courier Prime';
  font-size: var(--p-size);
  width: calc(var(--p-size) * 8);
  background-color: white;
  color: var(--secondary);
  text-align: center;
  border-radius: calc(var(--p-size) / 2);
  padding: calc(var(--p-size) / 2) 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.tool:hover .tooltiptext {
  visibility: visible;
}

.download-cv{
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  font-family: 'Bungee Hairline';
  font-weight: 950;
  font-size: var(--h5-size);
  color: white;
}

.download-cv:hover {
  color: cyan;
}

.proj-btn {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  position: relative;
}

.blank-proj {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  opacity: 1;
}

.blank1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw;
}

.blank2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw;
}

.blank3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1vw;
}

.align-left {
  text-align: right;
}

h4 {
  color: white;
  margin: 0px;
  font-family: 'Bungee Hairline';
  font-size: var(--h4-size);
}

.proj-img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  -webkit-filter: grayscale(0%); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0%); /* Microsoft Edge and Firefox 35+ */
}

.proj-btn:hover .proj-img {
  -webkit-filter: grayscale(100%); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(100%); /* Microsoft Edge and Firefox 35+ */
}

.proj-btn:hover .bright-img {
  -webkit-filter: grayscale(100%) brightness(65%); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(100%) brightness(65%); /* Microsoft Edge and Firefox 35+ */
}

.img-cover {
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw;
  gap: 1vw;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.reversed-cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.cover1 {
  background: var(--first-cover);
}

.cover2{
  background: var(--second-cover);
}

.cover3{
  background: var(--third-cover);
}

.cover4{
  background: var(--forth-cover);
}

.cover5{
  background: var(--fifth-cover);
}

.cover6{
  background: var(--sixth-cover);
}

.img-title {
  color: #fff;
  cursor: pointer;
}

.img-description {
  color: #fff;
  cursor: pointer;
}

.proj-btn:hover .img-cover {
  visibility: visible;
  opacity: 0.85;
}

.modal-header{
  display: flex;
  justify-content: flex-start;
}

.close {
  position: absolute;
  right: 1vw;
}

.img-modal {
  max-width: 100%;
}

.modal-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}